<h3><%= l(:subtasks_inherited_fields_plugin_config_title) %></h3>

<p>  
  <label><%= l(:inherit_fixed_version) %></label>
  <%= check_box_tag 'settings[inherit_fixed_version_id]', 1, @settings[:inherit_fixed_version_id] %>
</p>

<p>  
  <label><%= l(:inherit_assigned_to) %></label>
  <%= check_box_tag 'settings[inherit_assigned_to_id]', 1, @settings[:inherit_assigned_to_id] %>
</p>

<p>  
  <label><%= l(:inherit_category) %></label>
  <%= check_box_tag 'settings[inherit_category_id]', 1, @settings[:inherit_category_id] %>
</p>

<p>  
  <label><%= l(:inherit_priority) %></label>
  <%= check_box_tag 'settings[inherit_priority_id]', 1, @settings[:inherit_priority_id] %>
</p>

<p>  
  <label><%= l(:inherit_status) %></label>
  <%= check_box_tag 'settings[inherit_status_id]', 1, @settings[:inherit_status_id] %>
</p>

<p>  
  <label><%= l(:inherit_start_date) %></label>
  <%= check_box_tag 'settings[inherit_start_date]', 1, @settings[:inherit_start_date] %>
</p>

<p>  
  <label><%= l(:inherit_due_date) %></label>
  <%= check_box_tag 'settings[inherit_due_date]', 1, @settings[:inherit_due_date] %>
</p>

<p>  
  <label><%= l(:inherit_is_private) %></label>
  <%= check_box_tag 'settings[inherit_is_private]', 1, @settings[:inherit_is_private] %>
</p>

<h3>
<%= l(:default_subtask_tracker) %>
</h3>
<p>
<%- @settings[:default_trackers_id] = {} if @settings[:default_trackers_id].nil? -%>
<% trackers = Tracker.find(:all) %>
<% trackers.each do  |tracker| %>
<label><%= tracker.name %></label>
 <%= select_tag "settings[default_trackers_id][#{tracker.id}]", options_for_select(Tracker.all.map {|t| [t.name, t.id]},@settings[:default_trackers_id][tracker.id.to_s]) %><br />
<% end %>
</p>
